.button {
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}



.badge {
  background-color: white;
  color: black;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

